* {
  font-family: 'IBM Plex Mono', monospace;

}
html{
    background-color: rgb(240, 240, 240);
}
.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  border-radius: 50px;
  height: 40px;
  padding: 45px;
  color: white;
}

.App-title {
  position: relative;
  top: -25px;
  font-size: 3em;
}


.button {
  outline: 0 none;
  vertical-align:middle;
  display: inline-block;
  background-color: rgb(56, 187, 198);
  border-radius: 20px;
  border:none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;


}
.button:hover{
  background-color: rgb(110, 221, 211);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
    transform: rotateX(20deg);


}
.button:active{
  background-color: rgba(157, 238, 231, 0.74);
  /* transition: .2s; */

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.Input{
  width:200px;
  height:50px;
  border-radius:20px;
  outline: 0 none;

}
.containerAlph{
  padding-right: 10px;
}

.AlphaBet{
width: 40px;
height: 40px;
outline: 0 none;
vertical-align:middle;
display: inline-block;
background-color: rgb(56, 187, 198);
border-radius: 20px;
border:none;
color: #FFFFFF;
text-align: center;
border-radius: 10px;
font-size: 18pt;


}
.AlphaBet:hover{
  background-color: rgb(110, 221, 211);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
    transform: rotateX(20deg);

cursor: pointer;

}
